body {
    background: rgb(17,121,9);
    background: linear-gradient(90deg, rgba(17,121,9,0.7035189075630253) 31%, rgba(68,0,255,0.9556197478991597) 90%);
}

.item {
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
}

.rock {
    height: 100px;
    width: 100px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.paper {
    height: 100px;
    width: 100px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

.cisor {
    height: 100px;
    width: 100px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}

#resultat {
    position: absolute;
    top: 30%;
    left: 40%;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.75);
    height: 100px;
    width: 540px;
    text-align: center;
}